.flex-wrap-course{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
}

.course-item{
    padding:10px;
    border:1px solid black;
    margin: 20px;
    cousor: pointer ;
}

.course-item:hover{
    background-color: rgb(160, 239, 218);
}