<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>课程学习管理平台</title>
    <link rel="alternate" type="application/rss+xml" title="egrappler.com" href="feed/index.html">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mystyle.css">
    <link rel="stylesheet" href="css/prettify.css">
</head>
<body>
<nav>
    <div class="container" id="navigation">
        <h1>课程学习管理平台</h1>
        <div id="menu">
            <ul class="toplinks">
                <li><a href="#" @click="userClick(0)">学生管理 </a></li>
                <li><a href="#" @click="userClick(1)">课程管理</a></li>
                <li><a href="#" @click="userClick(2)">统计管理</a></li>
                <li><a href="#" @click="userClick(3)">新闻通知管理</a></li>
                <li><a href="#" @click="userClick(4)">论坛管理</a></li>
            </ul>
        </div>
        <a id="menu-toggle" href="#" class=" ">&#9776;</a></div>
</nav>
<div class="table-responsive" style="padding-bottom: 20px;background: #c6efda;" id="courseManage">
    <dev v-show="course">
        <div>
            <input v-model="selectCourse" style="margin-top:2px;margin-left: 15px;width: 260px;height: 30px;">
            <button @click="selectCourseClick($event)">搜索</button>
            <button @click="addCourseClick">添加</button>
        </div>
        <div class="flex-wrap-course">
            <div v-for="course in courseBaseMapList" class="course-item" key="">
                <div @click="obtainCourse($event)" v-bind:courseId="course.courseBase.id">
                    <div class="bgi" :style="{background: 'url('+course.courseBase.picpath+')'}"></div>
                    <!--<img style="width: 130px;" :src="course.courseBase.picpath">-->
                    <h4 class="limit-width">{{course.courseBase.name}}</h4>
                    <h4 class="limit-width">{{course.courseBase.description}}</h4>
                    <h5 class="limit-width">{{course.name}}</h5>
                </div>
                <button @click="deletCourseBase($event)" v-bind:courseBaseId="course.courseBase.id">删除</button>
            </div>
        </div>
    </dev>
    <div v-show="coursePlanList" class="" style="padding-left: 100px;">
        <button @click="returnCourseBase">返回课程</button>
        <button @click="addChapter">添加章节</button>
        <div v-for="(coursePlan, index) in chapterList">
            <div v-if="coursePlan.parentId==undefined">
                <h4>第{{index+1}}章{{coursePlan.name}}</h4>
                <button @click="addSection($event)" v-bind:chapterId="coursePlan.id">添加</button>
            </div>
            <div v-if="coursePlan.parentId!=undefined" >
                <a><h5>{{coursePlan.name}}</h5></a>
                <!--<div @click="addResources($event)" v-bind:sectionId="coursePlan.id">-->
                    <!--<a><h5>{{coursePlan.name}}</h5></a>-->
                <!--</div>-->

            </div>
            <!--<h4 v-if="coursePlan.parentId==undefined">{{coursePlan.name}}</h4>-->
            <!--<h5 v-if="coursePlan.parentId!=undefined">{{coursePlan.name}}</h5>-->

                <button @click="updateChapter($event)" v-bind:chapterId="coursePlan.id">编辑</button>
                <button @click="deletChapter($event)" v-bind:chapterId="coursePlan.id">删除</button>
        </div>
    </div>

    <!--<div class="container-fluid" id="addResources" v-show="addResourcesView">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-12">-->
                <!--<div class="card">-->
                    <!--<div class="card-block">-->
                        <!--<h2 class="card-title" style="padding-top: 10px;padding-left: 10px;text-align: center;">-->
                            <!--{{addResourcestitle}}</h2>-->
                        <!--<div class="table-responsive">-->
                            <!--<form class="form" method="" action="">-->
                                <!--<div class="content" style="text-align: center;">-->
                                    <!--<div class="input-group form-group-no-border input-lg"-->
                                         <!--style="padding-top: 20px;">-->
                                            <!--<span class="input-group-addon" style="width: 25%;">-->
                                                <!--<i class="now-ui-icons users_circle-08">章节资源</i>-->
                                                <!--<input type="file" class="form-control" ref="ln"  id="" v-model="picpath"-->
                                                       <!--@change="uploadFile">-->
                                            <!--</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="container-fluid" id="editCourseBase" v-show="addCourseBase">
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block">
                        <h2 class="card-title" style="padding-top: 10px;padding-left: 10px;text-align: center;">
                            {{addCourseBasetitle}}</h2>
                        <div class="table-responsive">
                            <form class="form" method="" action="">
                                <div class="content" style="text-align: center;">
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">课程图片</i>
                                                <input type="file" class="form-control" ref="ln"  id="f" v-model="picpath"
                                                       @change="uploadFile">
                                            </span>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">课程名字</i>
                                                <input type="text" class="form-control" ref="ln"
                                                       v-model="courseBaseName">
                                            </span>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">课程介绍</i>
                                                <!--<input type="text" class="form-control" ref="ln" v-model="description">-->
                                                <textarea cols="55" rows="5" v-model="description"></textarea>
                                            </span>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">创建用户</i>
                                                <input type="text" class="form-control" ref="ln"
                                                       v-model="currentUserName" readonly>
                                            </span>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">课程状态</i>
                                            </span>
                                        <select v-model="courseStatus" class="form-control" ref="pd"
                                                style="width: 30%;height: 35px;">
                                            <option value="1" selected="selected">可用</option>
                                            <option value="0">不可用</option>
                                        </select>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg text-center"
                                         style="padding-top: 30px;">
                                        <a href="#" class="btn btn-primary btn-round btn-lg"
                                           style="" v-on:click="makeSureCourseBase">确 认</a>
                                        <a href="#" class="btn btn-primary btn-round btn-lg"
                                           style="margin-left: 347px;"
                                           v-on:click="cancelEditCourseBase">取 消</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="addChapter" v-show="addChapterView">
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block">
                        <h2 class="card-title" style="padding-top: 10px;padding-left: 10px;text-align: center;">
                            {{addChapterTitle}}</h2>
                        <div class="table-responsive">
                            <form class="form" method="" action="">
                                <div class="content" style="text-align: center;">
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">章节序号</i>
                                            </span>
                                        <select v-model="coursePlanOrder" class="form-control" ref="pd"
                                                style="width: 30%;height: 35px;">
                                            <option v-for = "chapterNum in chapterNumList" v-bind:value="chapterNum.id">{{chapterNum.chapterNum}}</option>
                                        </select>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">章节名称</i>
                                                <input type="text" class="form-control" ref="ln"
                                                       v-model="coursePlanName">
                                            </span>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">章节介绍</i>
                                                <!--<input type="text" class="form-control" ref="ln" v-model="chapterDescription">-->
                                                <textarea cols="55" rows="5" v-model="chapterDescription"></textarea>
                                            </span>
                                    </div>
                                    <!--<div class="input-group form-group-no-border input-lg"-->
                                         <!--style="padding-top: 20px;">-->
                                            <!--<span class="input-group-addon" style="width: 25%;">-->
                                                <!--<i class="now-ui-icons users_circle-08">创建用户</i>-->
                                                <!--<input type="text" class="form-control" ref="ln"-->
                                                       <!--v-model="currentUserName" readonly>-->
                                            <!--</span>-->
                                    <!--</div>-->
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">章节状态</i>
                                            </span>
                                        <select v-model="coursePlanStatus" class="form-control" ref="pd"
                                                style="width: 30%;height: 35px;">
                                            <option value="1">可用</option>
                                            <option value="0">不可用</option>
                                        </select>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg text-center"
                                         style="padding-top: 30px;">
                                        <a href="#" class="btn btn-primary btn-round btn-lg"
                                           style="" v-on:click="makeSureChapter">确 认</a>
                                        <a href="#" class="btn btn-primary btn-round btn-lg"
                                           style="margin-left: 347px;"
                                           v-on:click="cancelEditChapter">取 消</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="addSection" v-show="addSectionView">
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block">
                        <h2 class="card-title" style="padding-top: 10px;padding-left: 10px;text-align: center;">
                            {{addSectionTitle}}</h2>
                        <div class="table-responsive">
                            <form class="form" method="" action="">
                                <div class="content" style="text-align: center;">
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">章节序号</i>
                                            </span>
                                        <select v-model="coursePlanOrder" class="form-control" ref="pd"
                                                style="width: 30%;height: 35px;">
                                            <option v-for = "chapterNum in chapterNumList" value="chapterNum.id">{{chapterNum.chapterNum}}</option>
                                        </select>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">章节名称</i>
                                                <input type="text" class="form-control" ref="ln"
                                                       v-model="coursePlanName">
                                            </span>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">章节介绍</i>
                                                <!--<input type="text" class="form-control" ref="ln" v-model="chapterDescription">-->
                                                <textarea cols="55" rows="5" v-model="chapterDescription"></textarea>
                                            </span>
                                    </div>

                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">章节状态</i>
                                            </span>
                                        <select v-model="coursePlanStatus" class="form-control" ref="pd"
                                                style="width: 30%;height: 35px;">
                                            <option value="1">可用</option>
                                            <option value="0">不可用</option>
                                        </select>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                        <span class="input-group-addon" style="width: 25%;">
                                            <i class="now-ui-icons users_circle-08">章节资源</i>
                                            <input type="file" class="form-control" ref="ln" id="" v-model="resourcesUrl"
                                                   @change="uploadSectionFile">
                                        </span>
                                    </div>

                                        <div class="input-group form-group-no-border input-lg text-center"
                                             style="padding-top: 30px;">
                                            <a href="#" class="btn btn-primary btn-round btn-lg"
                                               style="" v-on:click="makeSureSection">确 认</a>
                                            <a href="#" class="btn btn-primary btn-round btn-lg"
                                               style="margin-left: 347px;"
                                               v-on:click="cancelEditSection">取 消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="editCoursePlan" v-show="updateCoursePlan">
            <div class="row">
                <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block">
                        <h2 class="card-title" style="padding-top: 10px;padding-left: 10px;text-align: center;">
                            {{updateCoursePlantitle}}</h2>
                        <div class="table-responsive">
                            <form class="form" method="" action="">
                                <div class="content" style="text-align: center;">
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">章节名称</i>
                                                <input type="text" class="form-control" ref="ln"
                                                       v-model="coursePlan.name">
                                            </span>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">章节介绍</i>
                                                <!--<input type="text" class="form-control" ref="ln" v-model="chapterDescription">-->
                                                <textarea cols="55" rows="5" v-model="coursePlan.description"></textarea>
                                            </span>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">章节状态</i>
                                            </span>
                                        <select v-model="coursePlan.status" class="form-control" ref="pd"
                                                style="width: 30%;height: 35px;">
                                            <option value="1">可用</option>
                                            <option value="0">不可用</option>
                                        </select>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg text-center"
                                         style="padding-top: 30px;">
                                        <a href="#" class="btn btn-primary btn-round btn-lg"
                                           style="" v-on:click="makeSureUpdateCoursePlan">确 认</a>
                                        <a href="#" class="btn btn-primary btn-round btn-lg"
                                           style="margin-left: 347px;"
                                           v-on:click="cancelEditUpdateCoursePlan">取 消</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--</div>-->
<footer>
    <div class="container">
        <p> &copy; 2019 SCHOOL | VERY HAPPY <a href="#" target="_blank"
                                               title="中原工学院">中原工学院</a> - Running <a
                href="#" title="学习平台" target="_blank">学习平台后台管理</a></p>
    </div>
</footer>


<script src="js/core/jquery.3.2.1.min.js"></script>
<script src="js/plugins/jquery/jquery.localscroll-1.2.7.js" type="text/javascript"></script>
<script src="js/plugins/jquery/jquery.scrollTo-1.4.3.1.js" type="text/javascript"></script>
<script src="js/plugins/jquery/jquery.cookie.min.js"></script>
<script src="js/core/vue.min.js"></script>
<script src="js/plugins/vue/vue-resource.min.js"></script>
<script type="text/javascript" src="js/core/prettify.js"></script>
<script src="js/layout.js"></script>
<script src="js/global.js"></script>
<script src="js/index.js"></script>
<script src="js/course.js"></script>
<script src="js/user.js"></script>
</body>
</html>
