<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>课程学习管理平台</title>
    <link rel="alternate" type="application/rss+xml" title="egrappler.com" href="feed/index.html">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/prettify.css">

</head>
<body>
<nav>
    <div class="container" id="navigation">
        <h1>课程学习管理平台</h1>
        <div id="menu">
            <ul class="toplinks">
                <li><a href="#" @click="userClick(0)">学生管理 </a></li>
                <li><a href="#" @click="userClick(1)">课程管理</a></li>
                <li><a href="#" @click="userClick(2)">统计管理</a></li>
                <li><a href="#" @click="userClick(3)">新闻通知管理</a></li>
                <li><a href="#" @click="userClick(4)">论坛管理</a></li>
            </ul>
        </div>
        <a id="menu-toggle" href="#" class=" ">&#9776;</a></div>
</nav>
<div class="table-responsive" style="height: 520px;background: #c6efda;" id="newsManage">
    <dev v-show="news">
        <div>
            <input v-model="selectNews" style="margin-top: 2px;margin-left: 15px;width: 260px;height: 30px;">
            <button @click="selectNewsClick($event)">搜索</button>
            <button @click="addNewsClick">添加</button>
        </div>
        <table class="" style="padding-top: 30px;margin: auto;">
            <thead>
            <tr>
                <th>序号</th>
                <th>主题</th>
                <th>内容</th>
                <th>发布人</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(news,index) in newsList">
                <td>{{index+1}}</td>
                <td>{{news.name}}</td>
                <td>{{news.content}}</td>
                <td>{{currentUserName}}</td>
                <td>{{news.releaseTime}}</td>
                <td style="width: 245px;">
                    <button @click="deletNewsClick($event)" v-bind:newsId="news.id">删除</button>
                </td>
            </tbody>
        </table>
    </dev>
    <div class="container-fluid" id="editNews" v-show="addNews">
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block">
                        <h2 class="card-title" style="padding-top: 10px;padding-left: 10px;text-align: center;">
                            {{addNewstitle}}</h2>
                        <div class="table-responsive">
                            <form class="form" method="" action="">
                                <div class="content" style="text-align: center;">
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">新闻主题</i>
                                                <input type="text" class="form-control" ref="ln" v-model="newsName">
                                            </span>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">新闻内容</i>
                                                <input type="text" class="form-control" ref="ln" v-model="content">
                                            </span>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">发布人</i>
                                                <input type="text" class="form-control" ref="ln" v-model="currentUserName" readonly>
                                            </span>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                         style="padding-top: 20px;">
                                            <span class="input-group-addon" style="width: 25%;">
                                                <i class="now-ui-icons users_circle-08">发布时间</i>
                                                <input type="text" class="form-control" ref="ln" v-model="releaseTime" readonly>
                                            </span>
                                    </div>
                                    <div class="input-group form-group-no-border input-lg text-center"
                                         style="padding-top: 30px;">
                                        <a href="#" class="btn btn-primary btn-round btn-lg"
                                           style="" v-on:click="makeSureNews">确 认</a>
                                        <a href="#" class="btn btn-primary btn-round btn-lg"
                                           style="margin-left: 347px;"
                                           v-on:click="cancelEditNews">取 消</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




    <!--</div>-->
    <footer>
        <div class="container">
            <p> &copy; 2019 SCHOOL | VERY HAPPY <a href="#" target="_blank"
                                                   title="中原工学院">中原工学院</a> - Running <a
                    href="#" title="学习平台" target="_blank">学习平台后台管理</a></p>
        </div>
    </footer>


    <script src="js/core/jquery.3.2.1.min.js"></script>
    <script src="js/plugins/jquery/jquery.localscroll-1.2.7.js" type="text/javascript"></script>
    <script src="js/plugins/jquery/jquery.scrollTo-1.4.3.1.js" type="text/javascript"></script>
    <script src="js/plugins/jquery/jquery.cookie.min.js"></script>
    <script src="js/core/vue.min.js"></script>
    <script src="js/plugins/vue/vue-resource.min.js"></script>
    <script type="text/javascript" src="js/core/prettify.js"></script>
    <script src="js/layout.js"></script>
    <script src="js/global.js"></script>
    <script src="js/index.js"></script>
    <script src="js/news.js"></script>
    <script src="js/time.js"></script>

</body>
</html>
